
.ipynb_checkpoints/README-checkpoint.md
notebooks/.ipynb_checkpoints/01_EDA-metadata-checkpoint.ipynb
notebooks/.ipynb_checkpoints/02_EDA-weather-checkpoint.ipynb
figures/.ipynb_checkpoints/metadata_cat-checkpoint.pdf
