
.ipynb_checkpoints/README-checkpoint.md
notebooks/.ipynb_checkpoints/01_EDA-metadata-checkpoint.ipynb
notebooks/.ipynb_checkpoints/02_EDA-weather-checkpoint.ipynb
figures/.ipynb_checkpoints/metadata_cat-checkpoint.pdf
figures/.ipynb_checkpoints/metadata_cat-checkpoint.png
figures/.ipynb_checkpoints/meters_hist-checkpoint.png
figures/.ipynb_checkpoints/meters_hour_metertype-checkpoint.png
figures/.ipynb_checkpoints/meters_hour_usage-checkpoint.pdf
figures/.ipynb_checkpoints/meters_hour_usage-checkpoint.png
figures/.ipynb_checkpoints/meters_month-checkpoint.png
figures/.ipynb_checkpoints/meters_month_metertype-checkpoint.png
figures/.ipynb_checkpoints/meters_month_usage-checkpoint.pdf
figures/.ipynb_checkpoints/meters_month_usage-checkpoint.png
figures/.ipynb_checkpoints/meters_weekday_usage-checkpoint.pdf
figures/.ipynb_checkpoints/meters_hour-checkpoint.png
notebooks/.ipynb_checkpoints/03_EDA-meter-reading-checkpoint.ipynb
figures/.ipynb_checkpoints/weather_cat-checkpoint.png
figures/.ipynb_checkpoints/weather_cont-checkpoint.png
figures/.ipynb_checkpoints/weather_hour-checkpoint.png
figures/.ipynb_checkpoints/weather_month-checkpoint.png
figures/.ipynb_checkpoints/weather_year-checkpoint.png
notebooks/.ipynb_checkpoints/04_Models-checkpoint.ipynb
data/meters/processed/allmeters.csv
data/meters/processed/dev_merged.csv
notebooks/.ipynb_checkpoints/00_All-meters-dataset-checkpoint.ipynb
.Rproj.user
notebooks/.ipynb_checkpoints/04_Anomaly-detection-checkpoint.html
notebooks/.ipynb_checkpoints/04_Data-quality-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Models-checkpoint.ipynb
notebooks/BDG-2/.Rhistory
notebooks/BDG-2/04_Anomaly-detection.nb.html
notebooks/BDG-2/BDG-2.Rproj
notebooks/.ipynb_checkpoints/06_Weathere-sensitivity-checkpoint.ipynb
notebooks/.ipynb_checkpoints/05_Data-quality-checkpoint.ipynb
figures/.ipynb_checkpoints/weatherSensitivity_all-checkpoint.jpg
notebooks/.ipynb_checkpoints/06_Weather-sensitivity-checkpoint.ipynb
notebooks/.ipynb_checkpoints/07_Normalized-consumption-checkpoint.ipynb
data/meters/processed/chilledwater_cleaned.csv
data/meters/processed/electricity_cleaned.csv
data/meters/processed/gas_cleaned.csv
data/meters/processed/hotwater_cleaned.csv
data/meters/processed/irrigation_cleaned.csv
data/meters/processed/solar_cleaned.csv
data/meters/processed/steam_cleaned.csv
data/meters/processed/water_cleaned.csv
notebooks/.ipynb_checkpoints/09_Breakout-plot-checkpoint.ipynb
notebooks/BDG-2/04_Anomaly-detection.Rmd
notebooks/BDG-2/08_BreakOut-detection.nb.html
notebooks/BDG-2/08_BreakOut-detection.Rmd
notebooks/cat_df.csv
notebooks/BDG-2/08_BreakOut-detection.knit.md
notebooks/.ipynb_checkpoints/09_Models-checkpoint.ipynb
notebooks/.ipynb_checkpoints/08_BreakOut-detection-checkpoint.Rmd
notebooks/.ipynb_checkpoints/10_Models-checkpoint.ipynb
notebooks/breakout_plots/chilledwater_BOdata.csv
notebooks/breakout_plots/electricity_BOdata.csv
notebooks/breakout_plots/gas_BOdata.csv
notebooks/breakout_plots/hotwater_BOdata.csv
notebooks/breakout_plots/irrigation_BOdata.csv
notebooks/breakout_plots/solar_BOdata.csv
notebooks/breakout_plots/steam_BOdata.csv
notebooks/breakout_plots/water_BOdata.csv
personal/Untitled.ipynb
personal/kaggle_train.csv
personal/kaggle_metadata.csv
personal/.ipynb_checkpoints/Untitled-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
personal/split_longterm.drawio
personal/split_longterm.png
personal/split_shorterm.drawio
personal/split_shorterm.png
personal/tables.xlsx
data/predictions/longterm_LGBM.csv
data/predictions/longterm_real.csv
data/predictions/shortterm-summer_LGBM.csv
data/predictions/shortterm-summer_real.csv
data/predictions/shortterm-winter_LGBM.csv
notebooks/.ipynb_checkpoints/11_Models-evaluation-checkpoint.ipynb
data/predictions/shortterm-winter_real.csv
data/meters/processed/allmeters_cleaned.csv
notebooks/.ipynb_checkpoints/04_Anomaly-detection-checkpoint.ipynb
notebooks/.ipynb_checkpoints/04_Anomaly-detection-checkpoint.Rmd
notebooks/.ipynb_checkpoints/05_Cleaned-dataset-checkpoint.ipynb
notebooks/.ipynb_checkpoints/06_Normalized-consumption-checkpoint.ipynb
notebooks/.ipynb_checkpoints/07_Data-quality-checkpoint.ipynb
notebooks/.ipynb_checkpoints/08_Weather-sensitivity-checkpoint.ipynb
notebooks/.ipynb_checkpoints/10_Breakout-plot-checkpoint.ipynb
notebooks/.ipynb_checkpoints/cat_df-checkpoint.csv
predictions/longterm_real.csv
